<?xml version="1.0" encoding="UTF-8"?>
<!--

 This file is part of Efecte EDGE baseline configuration

 Purpose: Azure AD Graph API User configuration for importing users to EIM.

 Configuration file for users defining from which Azure AD Tenants do we import users from.
 Each /GRAPH_CONFIG/GRAPH_ENTRY element in this file represents one import configuration.
 There can be as many configuration elements as there is need for importing users from Azure Graph API.

 Some fields have defaults set by the process.

 E1_GRAPH_PID                   = Identifier for a specific group import configuration. MUST be unique in scope of this file!
 E1_GRAPH_API_CLIENT_ID         = Client ID of the OAuth2 application registered in Azure Management console.
 E1_GRAPH_API_CLIENT_SECRET     = Client secret (key) of the OAuth2 application registered in Azure Management console.
 E1_GRAPH_TENANT_ID             = Id of the Azure AD tenant. This should be either the tenant's object ID or tenant's registered domain name.
                                  SHOULD be same for each individual tenant used in this file. Do not mix identifier types in single tenant scope.
 E1_GRAPH_USER_FILTER           = (Optional) Graph filter to constrain the users that will be fetched. By default no filter is set.
 E1_GRAPH_RESOLVE_NESTED_GROUPS = Set to true,TRUE or 1 to resolve user group memberships via nested groups (transitive group memberships).
 E1_SERVICE_AGREEMENT           = The service agreement in EIM to create the users in.
 E1_ACCOUNT_TYPE                = Account type for user accounts created by this import configuration. Default = AD.
 E1_AUTH_METHOD                 = Authentication method for accounts created by this configuration. Default = AD Password.
 E1_GRAPH_PAGE_SIZE             = (Optional) Page size for fetching users using the Azure Graph API. Default is 500.
 E1_ITSM_FOLDER_CODE            = (Optional) Value sets the folderCode request parameter in the ITSM API request. Defaults to "personnel"

-->

<GRAPH_CONFIG>
    <GRAPH_ENTRY>
        <E1_GRAPH_PID>1</E1_GRAPH_PID>
        <E1_GRAPH_TENANT_ID>{{ azureTenantId }}</E1_GRAPH_TENANT_ID>
        <E1_GRAPH_API_CLIENT_ID>{{ azureClientId }}</E1_GRAPH_API_CLIENT_ID>
        <E1_GRAPH_API_CLIENT_SECRET>{{ azureClientSecret }}</E1_GRAPH_API_CLIENT_SECRET>
        <E1_GRAPH_USER_FILTER></E1_GRAPH_USER_FILTER>
        <E1_RESOLVE_NESTED_GROUPS>false</E1_RESOLVE_NESTED_GROUPS>
        <E1_SERVICE_AGREEMENT>Customer - AD users</E1_SERVICE_AGREEMENT>
        <E1_ACCOUNT_TYPE>AD</E1_ACCOUNT_TYPE>
        <E1_AUTH_METHOD>AD Password</E1_AUTH_METHOD>
        <E1_GRAPH_PAGE_SIZE>500</E1_GRAPH_PAGE_SIZE>
        <E1_ITSM_FOLDER_CODE>personnel</E1_ITSM_FOLDER_CODE>
    </GRAPH_ENTRY>
</GRAPH_CONFIG>
