<?xml version="1.0" encoding="UTF-8"?>
<!--

 This file is part of Efecte EDGE baseline configuration

 Purpose: Azure AD Graph API Group configuration for importing groups to EIM.

 Configuration file for groups defining from which Azure AD Tenants do we import groups from.
 Each /GRAPH_CONFIG/GRAPH_ENTRY element in this file represents one import configuration.
 There can be as many configuration elements as there is need for importing groups from Azure Graph API.

 Some fields have defaults set by the process.

 E1_GRAPH_PID                   = Identifier for a specific group import configuration. MUST be unique in scope of this file!
 E1_GRAPH_API_CLIENT_ID         = Client ID of the OAuth2 application registered in Azure Management console.
 E1_GRAPH_API_CLIENT_SECRET     = Client secret (key) of the OAuth2 application registered in Azure Management console.
 E1_GRAPH_TENANT_ID             = Id of the Azure AD tenant. This should be either the tenant's object ID or tenant's registered domain name.
                                  SHOULD be same for each individual tenant used in this file. Do not mix identifier types in single tenant scope.
 E1_GRAPH_GROUP_FILTER          = (Optional) Graph filter to constrain the groups that will be fetched. By default no filter is set.
 E1_ROLE_TYPE                   = (Optional) The role type in EIM for the imported group. Default = AD group
 E1_ROLE_SERVICE                = (Optional) The name of a service in EIM to which the role should initially be linked to. Default = AD groups
 E1_GRAPH_PAGE_SIZE             = (Optional) Page size for fetching groups using the Azure Graph API. Default is 500.
 E1_ITSM_FOLDER_CODE            = (Optional) Value sets the folderCode request parameter in the ITSM API request. Defaults to "active_directory_groups".

-->

<GRAPH_CONFIG>
    <GRAPH_ENTRY>
        <E1_GRAPH_PID>1</E1_GRAPH_PID>
        <E1_GRAPH_TENANT_ID>{{ azureTenantId }}</E1_GRAPH_TENANT_ID>
        <E1_GRAPH_API_CLIENT_ID>{{ azureClientId }}</E1_GRAPH_API_CLIENT_ID>
        <E1_GRAPH_API_CLIENT_SECRET>{{ azureClientSecret }}</E1_GRAPH_API_CLIENT_SECRET>
        <E1_GRAPH_GROUP_FILTER></E1_GRAPH_GROUP_FILTER>
        <E1_ROLE_TYPE>AD group</E1_ROLE_TYPE>
        <E1_ROLE_SERVICE>AD groups</E1_ROLE_SERVICE>
        <E1_GRAPH_PAGE_SIZE>500</E1_GRAPH_PAGE_SIZE>
        <E1_ITSM_FOLDER_CODE>active_directory_groups</E1_ITSM_FOLDER_CODE>
    </GRAPH_ENTRY>
</GRAPH_CONFIG>
