.global-search-box{
    display: none;
}

body, body.wizard, body.popup {
    background: #FFF;  !important
}

.dashboard {
    border: 0px !important;
}

.wizard {
    background: #FFF;  !important
}
body {
    background-image: none; !important
}

.naviTable {
    background-image: none; !important
}

.datahighlight {
    background-color: #E8F2F8 !important;
}

.border {
    padding: 5px 0px 0px 0px;
}

.borderNext {
    padding: 5px 0px 0px 0px;
}

.hakuharmaalue {
    padding-bottom: 20px;
}

.naviBox {
    background: #fff;
    border: #eaeaea solid 1px;
    color: #888;
    border-radius: 4px;
}

.mainarea {
    border: 0px;
    padding: 0px;
}

#maintabs li a {
    border: 1px solid #1FA5BC;
    background: #1FA5BC;
}


#maintabs li a:hover {
    background-color: #187f90;
    border-color: #167787;
    color: #fff;
}

#maintabs li a#current {
    color: #1FA5BC;
}

TD.tableSTIPES {
    background-color: #EFEFEF;
}

table.internal {
    border: 0px;
    padding: 0px;
}

table.searchHeader {
    background: #DFEFF4;
}

TD.internalOdd {
    background-color: #EFEFEF;
}

div.internalOdd {
    background: #EFEFEF;
}

TD.externalOdd {
    background-color: #EFEFEF;
}

TD.embeddedOdd {
    background-color: #EFEFEF;
}

TD.selectableOdd {
    background-color: #e7edee;
}

TD.plainOdd {
    background-color: #EFEFEF;
}

TD.toBasketLinksOdd {
    background-color: #EFEFEF;
}
