agent.info.firstNames=F\u00f6rnamn

agent.customString1=Visningsnamn
agent.customString1.fieldtoolongfault=Visningsnamnet \u00e4r f\u00f6r l\u00e5ngt.

agent.customString2=Mellannamn
agent.customString2.fieldtoolongfault=Mellannamnet \u00e4r f\u00f6r l\u00e5ngt.

agent.customString3=Arbetsplats
agent.customString3.fieldtoolongfault=Arbetsplatsen \u00e4r f\u00f6r l\u00e5ng.

agent.customString4=CN
agent.customString4.fieldtoolongfault=CN \u00e4r f\u00f6r l\u00e5ngt.

agent.customString5=F\u00f6retag
agent.customString5.fieldtoolongfault=F\u00f6retaget \u00e4r f\u00f6r l\u00e5ngt.

agent.customString6=Avdelning
agent.customString6.fieldtoolongfault=Avdelningen \u00e4r f\u00f6r l\u00e5ng.

agent.customString7=Kontor
agent.customString7.fieldtoolongfault=Kontoret \u00e4r f\u00f6r l\u00e5ngt.

agent.customString8=Hemkatalog
agent.customString8.fieldtoolongfault=Hemkatalogen \u00e4r f\u00f6r l\u00e5ng.

agent.customString9=N\u00e4tverksenhet
agent.customString9.fieldtoolongfault=N\u00e4tverksenheten \u00e4r f\u00f6r l\u00e5ng.

agent.customString10=Skriptkatalog
agent.customString10.fieldtoolongfault=Skriptkatalogen \u00e4r f\u00f6r l\u00e5ng.

agent.customString11=Telefonnummer (hem)
agent.customString11.fieldtoolongfault=Telefonnumret (hem) \u00e4r f\u00f6r l\u00e5ngt.

agent.customString12=Beskrivning
agent.customString12.fieldtoolongfault=Beskrivningen \u00e4r f\u00f6r l\u00e5ng.

agent.customString14=Ansvarsomr\u00e5de
agent.customString14.fieldtoolongfault=Ansvarsomr\u00e5det \u00e4r f\u00f6r l\u00e5ngt.

agent.customString15=HR-nummer
agent.customString15.fieldtoolongfault=HR-numret \u00e4r f\u00f6r l\u00e5ngt.

agent.customString16=Kostnadsst\u00e4llets nummer
agent.customString16.fieldtoolongfault=Kostnadsst\u00e4llets nummer \u00e4r f\u00f6r l\u00e5ngt.

agent.customString32=ESM Anv\u00e4ndarniv\u00e5

agent.customDate1=Skapad i AD
agent.customDate2=Uppdaterad i AD

role.customString1=\u00c4gare
role.customString1.fieldtoolongfault=\u00c4garen \u00e4r f\u00f6r l\u00e5ng.

role.customString2=E-postadress
role.customString2.fieldtoolongfault=E-postadressen \u00e4r f\u00f6r l\u00e5ng.

role.customString4=E-postens anv\u00e4ndarnamn
role.customString4.fieldtoolongfault=E-postens anv\u00e4ndarnamn \u00e4r f\u00f6r l\u00e5ngt.

work.info.title=Arbetsinformation
contact.info.title=Kontakt information

role.customString5=Role DN
role.customString16=ESM Anv\u00e4ndarniv\u00e5

invalid.esm.user.level=Ogiltig ESM Anv\u00e4ndarniv\u00e5. M\u00e5ste vara en av Root, Normal, ReadOnly, NoAccess

messages.provisioning.error.subject=Efecte Identity Management Provisioneringsfel: {{ tenantPath }} p\u00e5 {{ ansible_fqdn }}
