<?xml version="1.0" encoding="UTF-8"?>
<pr:SystemList LogLevel="INFO" cleanupSchedule="0 0 5 * * ?" xmlns:edb="urn:rm5:provisioning:1.0:connector:edb:config" xmlns:etl="urn:rm5:provisioning:1.0:connector:etl:config" xmlns:ldap="urn:rm5:provisioning:1.0:connector:ldap:config" xmlns:pr="urn:rm5:provisioning:1.0:config">
    <!--
        This is the provisioning configuration file for Efecte Identity Management.
        Changes made to this file are automatically activated. Please check logfile
        provisioning.0.log after modifications to make sure the new file syntax is valid.
    -->
    <System Name="EIM">
        <Notification>
            <Interval>86400</Interval>
            <Email>{{ provisioningErrorAddress }}</Email>
        </Notification>
        <Connection/>
        <ImportProcess Connector="edb" Enabled="true" Id="3" Name="EIM to Shadow">
            <Schedule>
                <Cron type="incremental">0 0/5 * * * ?</Cron>
            </Schedule>
            <Extensions>
                <edb:EdbOutMapping>
                    <AgentMapping>
                        <CustomAttribute ShadowFieldName="streetAddress">street</CustomAttribute>
                        <CustomAttribute ShadowFieldName="zipCode">zipCode</CustomAttribute>
                        <CustomAttribute ShadowFieldName="city">city</CustomAttribute>
                        <CustomAttribute ShadowFieldName="country">country</CustomAttribute>
                        <CustomAttribute ShadowFieldName="displayName">customString1</CustomAttribute>
                        <CustomAttribute ShadowFieldName="middleName">customString2</CustomAttribute>
                        <CustomAttribute ShadowFieldName="location">customString3</CustomAttribute>
                        <CustomAttribute ShadowFieldName="cn">customString4</CustomAttribute>
                        <CustomAttribute ShadowFieldName="company">customString5</CustomAttribute>
                        <CustomAttribute ShadowFieldName="department">customString6</CustomAttribute>
                        <CustomAttribute ShadowFieldName="office">customString7</CustomAttribute>
                        <CustomAttribute ShadowFieldName="homeDirectory">customString8</CustomAttribute>
                        <CustomAttribute ShadowFieldName="homeDrive">customString9</CustomAttribute>
                        <CustomAttribute ShadowFieldName="scriptPath">customString10</CustomAttribute>
                        <CustomAttribute ShadowFieldName="homePhoneNumber">customString11</CustomAttribute>
                        <CustomAttribute ShadowFieldName="description">customString12</CustomAttribute>
                        <CustomAttribute ShadowFieldName="userprincipalname">customString13</CustomAttribute>
                        <CustomAttribute ShadowFieldName="samaccountname">customString14</CustomAttribute>
                        <CustomAttribute ShadowFieldName="esmfoldercode">customString31</CustomAttribute>
                    </AgentMapping>
                    <AgentServiceAgreementMapping/>
                    <AccountMapping/>
                    <RoleMapping>
                        <CustomAttribute ShadowFieldName="manager">customString1</CustomAttribute>
                        <CustomAttribute ShadowFieldName="email">customString2</CustomAttribute>
                        <CustomAttribute ShadowFieldName="cn">customString3</CustomAttribute>
                        <CustomAttribute ShadowFieldName="username">customString4</CustomAttribute>
                        <CustomAttribute ShadowFieldName="roledn">customString5</CustomAttribute>
                        <CustomAttribute ShadowFieldName="esmfoldercode">customString6</CustomAttribute>
                    </RoleMapping>
                    <PermissionMapping/>
                </edb:EdbOutMapping>
            </Extensions>
        </ImportProcess>
    </System>

{% if processAd == true %}
    <System Name="Customer AD">
        <Notification>
            <Interval>86400</Interval>
            <Email>{{ provisioningErrorAddress }}</Email>
        </Notification>
        <Connection>
            <Extensions>
                <ldap:LdapConnection>
                    <URL>{{ ldapProtocol }}://{{ ldapHost }}:{{ ldapPort }}</URL>
                    <User>{{ ldapUser }}</User>
                    <Password>{{ ldapPassword }}</Password>
                    <Authentication>simple</Authentication>
{% if ldapProtocol == "ldap" %}
                    <SecurityProtocol>simple</SecurityProtocol>
{% else %}
                    <SecurityProtocol>ssl</SecurityProtocol>
{% endif %}
                </ldap:LdapConnection>
            </Extensions>
        </Connection>
        <ImportProcess Connector="etl" Enabled="true" Id="40" Name="Create Dynamic AD Import Jobs">
            <Schedule>
                <Cron>10 50 5,17 * * ?</Cron>
            </Schedule>
            <Extensions>
                <etl:EtlProcess>
                    <ScriptName>create-ldap-import-jobs.xml</ScriptName>
                    <ScriptVariable>
                        <Name>E1_LDAP_USER_CFG</Name>
                        <Value>${RM5.FileDir}/ad-users.xml</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_LDAP_GROUP_CFG</Name>
                        <Value>${RM5.FileDir}/ad-groups.xml</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_HOST</Name>
                        <Value>{% raw %}{{postgresql-idm/host}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_PORT</Name>
                        <Value>{% raw %}{{postgresql-idm/port-5432}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_DB</Name>
                        <Value>idm</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_USER</Name>
                        <Value>uigm</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_PASS</Name>
                        <Value>{% raw %}{{postgresql-idm/password}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_IMPORT_PROCESSID</Name>
                        <Value>1</Value>
                    </ScriptVariable>
                </etl:EtlProcess>
            </Extensions>
        </ImportProcess>
        <ImportProcess Connector="etl" Enabled="true" Id="1" Name="AD to Shadow">
            <Schedule>
                <Cron>10 0 6,18 * * ?</Cron>
            </Schedule>
            <Extensions>
                <etl:EtlProcess swipe="true" swipeThreshold="40%">
                    <ScriptName>process-ldap-import-dynamic-job.xml</ScriptName>
                    <ScriptVariable>
                        <Name>IDM_JSON_URL</Name>
                        <Value>http://localhost:8080/rm5_provisioning-json-api</Value>
                    </ScriptVariable>
                </etl:EtlProcess>
            </Extensions>
        </ImportProcess>

        <ExportProcess Connector="edb" Enabled="true" Id="2" Name="AD Shadow to EIM" SourceProcessId="1">
            <Schedule>
                <Cron>10 30 6/12 * * ?</Cron>
            </Schedule>
            <Extensions>
                <edb:EdbMapping>
                    <UserMapping UseDefaultAttributes="true">
                        <Node>
                            <Entity>
                                <Lookup>
                                    <Name>externalIdType</Name>
                                    <Value>AD ID</Value>
                                </Lookup>
                                <Lookup>
                                    <Name>externalId</Name>
                                    <Value>#FIELD:user.custom.modifiedGUIDForSearch</Value>
                                </Lookup>
                            </Entity>
                            <OnCreate Operation="create"/>
                            <OnUpdate Operation="update"/>
                            <OnDelete Operation="delete"/>
                            <Relation RelationName="serviceAgreement">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:user.reprname</Value>
                                </Lookup>
                            </Relation>
                        </Node>
                        <Attribute>
                            <Name>externalIdType</Name>
                            <Value>AD ID</Value>
                        </Attribute>
                        <Attribute>
                            <Name>street</Name>
                            <Value>#FIELD:user.custom.streetAddress</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>zipCode</Name>
                            <Value>#FIELD:user.custom.postalCode</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>city</Name>
                            <Value>#FIELD:user.custom.location</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>country</Name>
                            <Value>#FIELD:user.custom.country</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString1</Name>
                            <Value>#FIELD:user.custom.displayName</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString2</Name>
                            <Value>#FIELD:user.custom.middleName</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString3</Name>
                            <Value>#FIELD:user.custom.location</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString4</Name>
                            <Value>#FIELD:user.custom.cn</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString5</Name>
                            <Value>#FIELD:user.custom.company</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString6</Name>
                            <Value>#FIELD:user.custom.department</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString7</Name>
                            <Value>#FIELD:user.custom.office</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString8</Name>
                            <Value>#FIELD:user.custom.homeDirectory</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString9</Name>
                            <Value>#FIELD:user.custom.homeDrive</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString10</Name>
                            <Value>#FIELD:user.custom.scriptPath</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString11</Name>
                            <Value>#FIELD:user.custom.homePhoneNumber</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString12</Name>
                            <Value>#FIELD:user.custom.description</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString13</Name>
                            <Value>#FIELD:user.custom.userprincipalname</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString14</Name>
                            <Value>#FIELD:user.custom.samaccountname</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString15</Name>
                            <Value>#FIELD:user.custom.lastlogondate</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customDate1</Name>
                            <Value>#FIELD:user.custom.whenCreated</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString32</Name>
                            <Value>#FIELD:user.custom.esmuserlevel</Value>
                            <Optional>true</Optional>
                            <CreateOnly>true</CreateOnly>
                        </Attribute>
                        <Attribute>
                            <Name>customString31</Name>
                            <Value>#FIELD:user.custom.esmfoldercode</Value>
                            <Optional>true</Optional>
                            <CreateOnly>true</CreateOnly>
                        </Attribute>
                    </UserMapping>
                    <AccountMapping UseDefaultAttributes="true">
                        <Node>
                            <Entity>
                                <Lookup>
                                    <Name>agent</Name>
                                    <Value>#RELATION:agent</Value>
                                </Lookup>
                                <Lookup>
                                    <Name>accountTypeMethod</Name>
                                    <Value>#RELATION:accountTypeMethod</Value>
                                </Lookup>
                            </Entity>
                            <OnCreate Operation="create">
                                <ProcessingInstruction>GENERATEPASSWORD</ProcessingInstruction>
                            </OnCreate>
                            <OnUpdate Operation="update"/>
                            <OnDelete Operation="delete"/>
                            <Relation RelationName="accountTypeMethod">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:account.authmethod</Value>
                                </Lookup>
                            </Relation>
                        </Node>
                        <Attribute>
                            <Name>uid</Name>
                            <Value>#FIELD:account.loginName</Value>
                        </Attribute>
                    </AccountMapping>
                    <RoleMapping UseDefaultAttributes="true">
                        <Node>
                            <Entity>
                                <Lookup>
                                    <Name>externalIdType</Name>
                                    <Value>AD ID</Value>
                                </Lookup>
                                <Lookup>
                                    <Name>externalId</Name>
                                    <Value>#FIELD:role.custom.modifiedGUIDForSearch</Value>
                                </Lookup>
                            </Entity>
                            <OnCreate Operation="create"/>
                            <OnUpdate Operation="update"/>
                            <OnDelete Operation="delete"/>
                            <Relation RelationName="service">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:role.custom.servicename</Value>
                                </Lookup>
                            </Relation>
                            <Relation RelationName="accessRoleType">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:role.roletypename</Value>
                                </Lookup>
                            </Relation>
                        </Node>
                        <Attribute>
                            <Name>externalIdType</Name>
                            <Value>AD ID</Value>
                        </Attribute>
                        <Attribute>
                            <Name>customString1</Name>
                            <Value>#FIELD:role.custom.manager</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <!-- e-mail address (for distribution list use case) -->
                        <Attribute>
                            <Name>customString2</Name>
                            <Value>#FIELD:role.custom.email</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <!-- sAMAccountName (for distribution list use case) -->
                        <Attribute>
                            <Name>customString4</Name>
                            <Value>#FIELD:role.custom.username</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <!-- The role distinguishedName -->
                        <Attribute>
                            <Name>customString5</Name>
                            <Value>#FIELD:role.custom.roledn</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <!-- ESM folderCode -->
                        <Attribute>
                            <Name>customString6</Name>
                            <Value>#FIELD:role.custom.esmfoldercode</Value>
                            <Optional>true</Optional>
                        </Attribute>
                    </RoleMapping>
                    <UserRoleMapping UseDefaultAttributes="true">
                        <Node>
                            <Entity>
                                <Lookup>
                                    <Name>agent</Name>
                                    <Value>#RELATION:agent</Value>
                                </Lookup>
                                <Lookup>
                                    <Name>role</Name>
                                    <Value>#RELATION:role</Value>
                                </Lookup>
                            </Entity>
                            <OnCreate Operation="create"/>
                            <OnUpdate Operation="update"/>
                            <OnDelete Operation="delete"/>
                            <Relation RelationName="service">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:role.custom.servicename</Value>
                                </Lookup>
                            </Relation>
                        </Node>
                    </UserRoleMapping>
                    <!-- UserConnections are mapped automatically. -->
                </edb:EdbMapping>
            </Extensions>
            <Filter includeByDefault="true"/>
        </ExportProcess>


        <!-- Export process to be used for password sync -->
        <ExportProcess Connector="ldap" Id="4" Name="EIM Shadow to AD" SourceProcessId="3" Enabled="false">
            <Schedule>
                <Cron>0 0/15 * * * ?</Cron>
            </Schedule>
            <Extensions>
                <ldap:LdapMapping>
                    <UserMapping>
                        <NodeDefaults LookupEnabled="true" MoveToBaseDN="false" StopOnMatch="true" Subtree="true">
                            <BaseDN>OU=Placeholder,{{ ldapBase }}</BaseDN>
                            <RDNAttribute>cn</RDNAttribute>
                            <OnCreate>match</OnCreate>
                            <OnUpdate>update</OnUpdate>
                            <OnDelete>ignore</OnDelete>
                            <LookupDN>OU=Placeholder,{{ ldapBase }}</LookupDN>
                        </NodeDefaults>
                        <Node>
                            <ComplexCondition>
                                <And>
                                    <Condition>#FIELD:user.reprName equals "Customer - AD users"</Condition>
                                    <Condition>#FIELD:account.accountType equals "AD"</Condition>
                                </And>
                            </ComplexCondition>
                            <LookupField>
                                <Name>objectClass</Name>
                                <Value>user</Value>
                            </LookupField>
                            <LookupField EscapeValue="false">
                                <Name>objectGUID</Name>
                                <Value>#FIELD:user.externalId</Value>
                            </LookupField>
                        </Node>
                        <AttributeDefaults>
                            <CreateOnly>false</CreateOnly>
                            <Optional>true</Optional>
                        </AttributeDefaults>
                        <Attribute>
                            <Name>objectClass</Name>
                            <Value>user</Value>
                            <CreateOnly>true</CreateOnly>
                            <Optional>false</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>cn</Name>
                            <Value>#FIELD:user.custom.cn</Value>
                            <Optional>false</Optional>
                        </Attribute>
                        <!-- Sync user password if it has been changed via EIM ui -->
                        <Attribute>
                            <Name>userPassword</Name>
                            <Value>#CLASS:expression.ADPassword(#CLASS:expression.Decrypt(#FIELD:ac.password))</Value>
                            <Optional>true</Optional>
                            <ComplexCondition>
                                <And>
                                    <Condition>#FIELD:account.passwordsource equals #STRING:ui</Condition>
                                    <Condition>#FIELD:ac.password does.not.equal ""</Condition>
                                    <Condition>#OLD-FIELD:ac.password does.not.equal #FIELD:ac.password</Condition>
                                </And>
                            </ComplexCondition>
                        </Attribute>
                    </UserMapping>
                    <RoleMapping>
                        <NodeDefaults LookupEnabled="true" MoveToBaseDN="false" StopOnMatch="true">
                            <BaseDN>OU=Placeholder,{{ ldapBase }}</BaseDN>
                            <RDNAttribute>cn</RDNAttribute>
                            <OnCreate>match</OnCreate>
                            <OnUpdate>match</OnUpdate>
                            <OnDelete>ignore</OnDelete>
                            <LookupDN>OU=Placeholder,{{ ldapBase }}</LookupDN>
                        </NodeDefaults>
                        <Node>
                            <Condition>#FIELD:role.roleTypeName equals "AD group"</Condition>
                            <LookupField>
                                <Name>objectClass</Name>
                                <Value>group</Value>
                            </LookupField>
                            <LookupField EscapeValue="false">
                                <Name>objectGUID</Name>
                                <Value>#FIELD:role.externalId</Value>
                            </LookupField>
                        </Node>
                        <AttributeDefaults>
                            <CreateOnly>false</CreateOnly>
                            <Optional>true</Optional>
                        </AttributeDefaults>
                        <Attribute>
                            <Name>objectClass</Name>
                            <Value>group</Value>
                            <CreateOnly>true</CreateOnly>
                            <Optional>false</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>cn</Name>
                            <Value>#FIELD:role.roleName</Value>
                            <CreateOnly>true</CreateOnly>
                            <Optional>false</Optional>
                        </Attribute>
                    </RoleMapping>
                    <UserRoleMapping RemoveOnDisable="true">
                        <RoleAttribute>member</RoleAttribute>
                    </UserRoleMapping>
                </ldap:LdapMapping>
            </Extensions>
            <Filter includeByDefault="false">
                <User>
                    <ComplexCondition>
                        <And>
                            <Condition>#FIELD:user.reprName equals "Customer - AD users"</Condition>
                            <Condition>#FIELD:user.externalId does.not.equal ""</Condition>
                        </And>
                    </ComplexCondition>
                </User>
                <Account>
                    <ComplexCondition>
                        <And>
                            <Condition>#FIELD:account.accountType equals "AD"</Condition>
                            <Condition>#FIELD:user.reprName equals "Customer - AD users"</Condition>
                            <Condition>#FIELD:user.externalId does.not.equal ""</Condition>
                        </And>
                    </ComplexCondition>
                </Account>
                <Role>
                    <Condition>#FIELD:role.roleTypeName equals "AD group"</Condition>
                </Role>
                <UserRole>
                    <ComplexCondition>
                        <And>
                            <Condition>#FIELD:user.reprName equals "Customer - AD users"</Condition>
                            <Condition>#FIELD:user.externalId does.not.equal ""</Condition>
                            <Condition>#FIELD:role.roleTypeName equals "AD group"</Condition>
                            <Condition>#FIELD:userrole.serviceName equals "AD groups"</Condition>
                        </And>
                    </ComplexCondition>
                </UserRole>
            </Filter>
        </ExportProcess>
    </System>

{% endif %}
{% if processAzure == true %}
    <System Name="Customer Azure AD">
        <Notification>
            <Interval>86400</Interval>
            <Email>noreply@localhost</Email>
        </Notification>
{% if processAd == false %}
        <ImportProcess Connector="etl" Enabled="true" Id="40" Name="Create Dynamic Graph AD Import Jobs">
{% else %}
        <ImportProcess Connector="etl" Enabled="true" Id="41" Name="Create Dynamic Graph AD Import Jobs">
{% endif %}
            <Schedule>
                <Cron>10 50 5,17 * * ?</Cron>
            </Schedule>
            <Extensions>
                <etl:EtlProcess>
                    <ScriptName>create-graph-import-jobs.xml</ScriptName>
                    <ScriptVariable>
                        <Name>E1_GRAPH_USER_CFG</Name>
                        <Value>${RM5.FileDir}/azure-graph-users.xml</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_GRAPH_GROUP_CFG</Name>
                        <Value>${RM5.FileDir}/azure-graph-groups.xml</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_HOST</Name>
                        <Value>{% raw %}{{postgresql-idm/host}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_PORT</Name>
                        <Value>{% raw %}{{postgresql-idm/port-5432}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_DB</Name>
                        <Value>idm</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_USER</Name>
                        <Value>uigm</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_PASS</Name>
                        <Value>{% raw %}{{postgresql-idm/password}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_IMPORT_PROCESSID</Name>
{% if processAd == false %}
                        <Value>1</Value>
{% else %}
                        <Value>5</Value>
{% endif %}
                    </ScriptVariable>
                </etl:EtlProcess>
            </Extensions>
        </ImportProcess>
{% if processAd == false %}
        <ImportProcess Connector="etl" Enabled="true" Id="1" Name="Azure AD to Shadow">
{% else %}
        <ImportProcess Connector="etl" Enabled="true" Id="5" Name="Azure AD to Shadow">
{% endif %}
            <Schedule>
                <Cron>10 0 6,18 * * ?</Cron>
            </Schedule>
            <Extensions>
                <etl:EtlProcess swipe="true">
                    <ScriptName>process-graph-import-dynamic-job.xml</ScriptName>
                    <ScriptVariable>
                        <Name>IDM_JSON_URL</Name>
                        <Value>http://localhost:8080/rm5_provisioning-json-api</Value>
                    </ScriptVariable>
                </etl:EtlProcess>
            </Extensions>
        </ImportProcess>
{% if processAd == false %}
        <ExportProcess Connector="edb" Enabled="true" Id="2" Name="Azure AD Shadow to IdM" SourceProcessId="1">
{% else %}
        <ExportProcess Connector="edb" Enabled="true" Id="6" Name="Azure AD Shadow to IdM" SourceProcessId="5">
{% endif %}
            <Schedule>
                <Cron>10 30 6/12 * * ?</Cron>
            </Schedule>
            <Extensions>
                <edb:EdbMapping>
                    <UserMapping UseDefaultAttributes="true">
                        <Node>
                            <Entity>
                                <Lookup>
                                    <Name>externalIdType</Name>
                                    <Value>AD ID</Value>
                                </Lookup>
                                <Lookup>
                                    <Name>externalId</Name>
                                    <Value>#FIELD:user.custom.modifiedGUIDForSearch</Value>
                                </Lookup>
                            </Entity>
                            <OnCreate Operation="create"/>
                            <OnUpdate Operation="create"/>
                            <OnDelete Operation="delete"/>
                            <Relation RelationName="serviceAgreement">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:user.reprname</Value>
                                </Lookup>
                            </Relation>
                        </Node>
                        <Attribute>
                            <Name>externalIdType</Name>
                            <Value>AD ID</Value>
                        </Attribute>
                        <Attribute>
                            <Name>street</Name>
                            <Value>#FIELD:user.custom.streetAddress</Value>
                            <Optional>true</Optional>
                        </Attribute>
{% if azureEsmPath is defined %}
                        <Attribute>
                            <Name>name</Name>
                            <Value>#FIELD:user.username + ",{{ azureEsmPath }}"</Value>
                            <Optional>false</Optional>
                        </Attribute>
{% endif %}
                        <Attribute>
                            <Name>zipCode</Name>
                            <Value>#FIELD:user.custom.postalCode</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>city</Name>
                            <Value>#FIELD:user.custom.city</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>country</Name>
                            <Value>#FIELD:user.custom.country</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString1</Name>
                            <Value>#FIELD:user.custom.displayName</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString2</Name>
                            <Value>#FIELD:user.custom.middleName</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString3</Name>
                            <Value>#FIELD:user.custom.location</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString4</Name>
                            <Value>#FIELD:user.custom.cn</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString5</Name>
                            <Value>#FIELD:user.custom.company</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString6</Name>
                            <Value>#FIELD:user.custom.department</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString7</Name>
                            <Value>#FIELD:user.custom.office</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString8</Name>
                            <Value>#FIELD:user.custom.homeDirectory</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString9</Name>
                            <Value>#FIELD:user.custom.homeDrive</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString10</Name>
                            <Value>#FIELD:user.custom.scriptPath</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString11</Name>
                            <Value>#FIELD:user.custom.homePhoneNumber</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString12</Name>
                            <Value>#FIELD:user.custom.description</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString13</Name>
                            <Value>#FIELD:user.custom.userprincipalname</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString14</Name>
                            <Value>#FIELD:user.custom.samaccountname</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString15</Name>
                            <Value>#FIELD:user.custom.lastlogondate</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customDate1</Name>
                            <Value>#FIELD:user.custom.whenCreated</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <Attribute>
                            <Name>customString32</Name>
                            <Value>#FIELD:user.custom.esmuserlevel</Value>
                            <Optional>true</Optional>
                            <CreateOnly>true</CreateOnly>
                        </Attribute>
                        <Attribute>
                            <Name>customString31</Name>
                            <Value>#FIELD:user.custom.esmfoldercode</Value>
                            <Optional>true</Optional>
                            <CreateOnly>true</CreateOnly>
                        </Attribute>
                    </UserMapping>
                    <AccountMapping UseDefaultAttributes="true">
                        <Node>
                            <Entity>
                                <Lookup>
                                    <Name>agent</Name>
                                    <Value>#RELATION:agent</Value>
                                </Lookup>
                                <Lookup>
                                    <Name>accountTypeMethod</Name>
                                    <Value>#RELATION:accountTypeMethod</Value>
                                </Lookup>
                            </Entity>
                            <OnCreate Operation="create">
                                <ProcessingInstruction>GENERATEPASSWORD</ProcessingInstruction>
                            </OnCreate>
                            <OnUpdate Operation="create"/>
                            <OnDelete Operation="delete"/>
                            <Relation RelationName="accountTypeMethod">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:account.authmethod</Value>
                                </Lookup>
                            </Relation>
                        </Node>
                        <Attribute>
                            <Name>uid</Name>
                            <Value>#FIELD:account.loginName</Value>
                        </Attribute>
                    </AccountMapping>
                    <RoleMapping UseDefaultAttributes="true">
                        <Node>
                            <Entity>
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:role.roleName</Value>
                                </Lookup>
                            </Entity>
                            <OnCreate Operation="create"/>
                            <OnUpdate Operation="create"/>
                            <OnDelete Operation="delete"/>
                            <Relation RelationName="service">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:role.custom.servicename</Value>
                                </Lookup>
                            </Relation>
                            <Relation RelationName="accessRoleType">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:role.roletypename</Value>
                                </Lookup>
                            </Relation>
                        </Node>
                        <Attribute>
                            <Name>externalIdType</Name>
                            <Value>AD ID</Value>
                        </Attribute>
                        <Attribute>
                            <Name>customString1</Name>
                            <Value>#FIELD:role.custom.manager</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <!-- e-mail address (for distribution list use case) -->
                        <Attribute>
                            <Name>customString2</Name>
                            <Value>#FIELD:role.custom.email</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <!-- sAMAccountName (for distribution list use case) -->
                        <Attribute>
                            <Name>customString4</Name>
                            <Value>#FIELD:role.custom.username</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <!-- The role distinguishedName -->
                        <Attribute>
                            <Name>customString5</Name>
                            <Value>#FIELD:role.custom.roledn</Value>
                            <Optional>true</Optional>
                        </Attribute>
                        <!-- ESM folderCode -->
                        <Attribute>
                            <Name>customString6</Name>
                            <Value>#FIELD:role.custom.esmfoldercode</Value>
                            <Optional>true</Optional>
                        </Attribute>
                    </RoleMapping>
                    <UserRoleMapping UseDefaultAttributes="true">
                        <Node>
                            <Entity>
                                <Lookup>
                                    <Name>agent</Name>
                                    <Value>#RELATION:agent</Value>
                                </Lookup>
                                <Lookup>
                                    <Name>role</Name>
                                    <Value>#RELATION:role</Value>
                                </Lookup>
                            </Entity>
                            <OnCreate Operation="create"/>
                            <OnUpdate Operation="create"/>
                            <OnDelete Operation="delete"/>
                            <Relation RelationName="service">
                                <Lookup>
                                    <Name>name</Name>
                                    <Value>#FIELD:role.custom.servicename</Value>
                                </Lookup>
                            </Relation>
                        </Node>
                    </UserRoleMapping>
                    <!-- UserConnections are mapped automatically. -->
                </edb:EdbMapping>
            </Extensions>
            <Filter includeByDefault="true"/>
        </ExportProcess>
    </System>

{% endif %}
    <System Name="ESM">
        <Notification>
            <Interval>86400</Interval>
            <Email>{{ provisioningErrorAddress }}</Email>
        </Notification>
        <Connection/>
        <ExportProcess Connector="etl" Enabled="true" Id="201" Name="EIM Shadow to ESM" SourceProcessId="3">
            <Schedule>
                <Cron>0 0/15 * * * ?</Cron>
            </Schedule>
            <Extensions>
                <etl:EtlProcess swipe="false">
                    <ScriptName>process-esm-job.xml</ScriptName>
                    <ScriptVariable>
                        <Name>E1_ITSM_API_URL</Name>
                        <Value>http://{% raw %}{{itsm/host}}:{{itsm/port-8080}}{% endraw %}/itsm/ws/dataCardImport.ws?folderCode=personnel&amp;createEmptyReferences=true&amp;removeEmptyValues=true&amp;version=1.1</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_ITSM_GROUP_API_URL</Name>
                        <Value>http://{% raw %}{{itsm/host}}:{{itsm/port-8080}}{% endraw %}/itsm/ws/dataCardImport.ws?folderCode=active_directory_groups&amp;createEmptyReferences=true&amp;removeEmptyValues=true&amp;version=1.1</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_ITSM_API_USER</Name>
                        <Value>{% raw %}{{itsm/webapi-user}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_ITSM_API_PASS</Name>
                        <Value>{% raw %}{{itsm/webapi-password}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_HOST</Name>
                        <Value>{% raw %}{{postgresql-idm/host}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_PORT</Name>
                        <Value>{% raw %}{{postgresql-idm/port-5432}}{% endraw %}</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_DB</Name>
                        <Value>idm</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_USER</Name>
                        <Value>uigm</Value>
                    </ScriptVariable>
                    <ScriptVariable>
                        <Name>E1_PGSQL_PASS</Name>
                        <Value>{% raw %}{{postgresql-idm/password}}{% endraw %}</Value>
                    </ScriptVariable>
                    <!-- TARGETSYSTEM_ID must match the Id of this ExportProcess -->
                    <ScriptVariable>
                        <Name>TARGETSYSTEM_ID</Name>
                        <Value>201</Value>
                    </ScriptVariable>
                    <!-- Set this to true to export all roles to ITSM -->
                    <ScriptVariable>
                        <Name>E1_ITSM_PROVISION_ROLES</Name>
                        <Value>true</Value>
                    </ScriptVariable>
                    <!-- Status in ITSM for active users -->
                    <ScriptVariable>
                        <Name>E1_ITSM_STATUS_ACTIVE</Name>
                        <Value>Active</Value>
                    </ScriptVariable>
                    <!-- Status in ITSM for disabled users -->
                    <ScriptVariable>
                        <Name>E1_ITSM_STATUS_DISABLED</Name>
                        <Value>Disabled</Value>
                    </ScriptVariable>
                    <!-- Status in ITSM for deleted users -->
                    <ScriptVariable>
                        <Name>E1_ITSM_STATUS_DELETED</Name>
                        <Value>Deleted</Value>
                    </ScriptVariable>
                    <!-- ESM template code for persons. If left blank "person" is used -->
                    <ScriptVariable>
                        <Name>E1_ITSM_TMPL_PERSON</Name>
                        <Value>person</Value>
                    </ScriptVariable>
                    <!-- ESM template code for groups. If left blank "ad_group" is used -->
                    <ScriptVariable>
                        <Name>E1_ITSM_TMPL_GROUPS</Name>
                        <Value>ad_group</Value>
                    </ScriptVariable>
                    <!-- Account types to include when exporting accounts to ITSM. Multiple values can be separated by a comma (,) -->
                    <ScriptVariable>
                        <Name>E1_ITSM_ACCOUNT_TYPE</Name>
                        <Value>AD</Value>
                    </ScriptVariable>
                    <!-- Role types to include when exporting permissions to ITSM. Multiple values can be separated by a comma (,) -->
                    <ScriptVariable>
                        <Name>E1_ITSM_ROLE_TYPE</Name>
                        <Value>AD group</Value>
                    </ScriptVariable>
                    <!-- Configuration file for custom attribute mapping -->
                    <ScriptVariable>
                        <Name>E1_CUSTOM_ATTRIBUTE_CFG</Name>
                        <Value>${RM5.FileDir}/esm-custom-attributes.txt</Value>
                    </ScriptVariable>
                    <!-- By default manager is linked to subordinate by using external id. Email can be used instead by setting this to true -->
                    <ScriptVariable>
                        <Name>E1_MANAGER_LINKING_BY_EMAIL</Name>
                        <Value>false</Value>
                    </ScriptVariable>
                    <!-- On the first run after upgrading from ESM connector versions prior to V3.0 migration run should be used. Values: true or false -->
                    <ScriptVariable>
                        <Name>E1_MIGRATION_ENABLED</Name>
                        <Value>false</Value>
                    </ScriptVariable>
                </etl:EtlProcess>
            </Extensions>
            <Filter includeByDefault="false">
                <User>
                    <!-- EIM administrative users are not to be exported to ITSM -->
                    <ComplexCondition>
                        <And>
                            <Condition>#FIELD:user.reprname does.not.equal "Efecte users"</Condition>
                            <Condition>#FIELD:user.reprname does.not.equal "Technical users"</Condition>
                        </And>
                    </ComplexCondition>
                </User>
                <Account>
                    <!-- Do not include EIM internal accounts or users with such an account -->
                    <ComplexCondition>
                        <And>
                            <Condition>#FIELD:ac.accountType does.not.equal "Efecte"</Condition>
                            <Condition>#FIELD:ac.accountType does.not.equal "Technical"</Condition>
                            <Condition>#FIELD:user.reprname does.not.equal "Efecte users"</Condition>
                            <Condition>#FIELD:user.reprname does.not.equal "Technical users"</Condition>
                        </And>
                    </ComplexCondition>
                </Account>
                <Role>
                    <!-- Do not include EIM internal roles -->
                    <Condition>#FIELD:roletypename does.not.equal "IdM"</Condition>
                </Role>
                <UserConnection>
                    <ComplexCondition>
                        <And>
                            <Condition>#FIELD:connectiontype equals "supervisor-subordinate"</Condition>
                            <Condition>#FIELD:detail.reprname does.not.equal "Efecte users"</Condition>
                            <Condition>#FIELD:detail.reprname does.not.equal "Technical users"</Condition>
                            <Condition>#FIELD:master.reprname does.not.equal "Efecte users"</Condition>
                            <Condition>#FIELD:master.reprname does.not.equal "Technical users"</Condition>
                        </And>
                    </ComplexCondition>
                </UserConnection>
                <UserRole>
                    <!-- Do not include EIM internal roles or users in user - role mapping -->
                    <ComplexCondition>
                        <And>
                            <Condition>#FIELD:ro.roletypename does.not.equal "IdM"</Condition>
                            <Condition>#FIELD:user.reprname does.not.equal "Efecte users"</Condition>
                            <Condition>#FIELD:user.reprname does.not.equal "Technical users"</Condition>
                        </And>
                    </ComplexCondition>
                </UserRole>
                <Aco/>
                <PowerOfAttorney/>
            </Filter>
        </ExportProcess>
    </System>
</pr:SystemList>
