# Add eventrule constants here

{% if pwdResetEnabled == True %}
#########################################
#          PWD IMMEDIATE RESET          #
#                                       #
#  Check configuration reference from   #
#     eim-tools/pwdreset/readme.md      #
#                                       #
#########################################

allowedAccTypesForPwdReset  = AD
allowImmediatePwdReset      = {{ pwdResetEnabled }}

pwdreset.accounttype.AD     = ldap

ldapProtocol                = {{ ldapProtocol }}
ldapHost                    = {{ ldapHost }}
ldapPort                    = {{ ldapPort }}
ldapBindFullDn              = {{ ldapUserFull }}
ldapBindPw                  = {{ ldapPassword }}
{% if ldapProtocol == "ldaps" %}
ldapConnType                = ssl
{% else %}
ldapConnType                = unsecure
{% endif %}
ldapFinishWhenSuccess       = true
ldapUserBase                = {{ ldapBase }}
ldapReferrals               = follow
ldapUidAttribute            = sAMAccountName
ldapPwdAttribute            = unicodePwd
ldapPhoneCountryCode        = {{ phoneCountryCode }}
ldapConvertPhoneNumbers     = {{ convertPhoneNumbers }}
ldapPasswordBytes           = UTF-16LE

convertnumber.logLevel      = ERROR
pwdprovision.logLevel       = ERROR

#########################################
#        PWD IMMEDIATE RESET END        #
#########################################
{% endif %}
