agent.info.firstNames=Forename

agent.customString1=Display name
agent.customString1.fieldtoolongfault=The display name is too long.

agent.customString2=Middle name
agent.customString2.fieldtoolongfault=The middle name is too long.

agent.customString3=Location
agent.customString3.fieldtoolongfault=The location is too long.

agent.customString4=CN
agent.customString4.fieldtoolongfault=CN is too long.

agent.customString5=Company
agent.customString5.fieldtoolongfault=Company is too long.

agent.customString6=Department
agent.customString6.fieldtoolongfault=Department is too long.

agent.customString7=Office
agent.customString7.fieldtoolongfault=Office is too long.

agent.customString8=Home directory
agent.customString8.fieldtoolongfault=Home directory is too long.

agent.customString9=Home drive
agent.customString9.fieldtoolongfault=Home drive is too long.

agent.customString10=Script path
agent.customString10.fieldtoolongfault=Script path is too long.

agent.customString11=Phone number (home)
agent.customString11.fieldtoolongfault=Phone number (home) is too long.

agent.customString12=Description
agent.customString12.fieldtoolongfault=Description is too long.

agent.customString14=Responsibilities
agent.customString14.fieldtoolongfault=Responsibility information is too long.

agent.customString15=Employee number
agent.customString15.fieldtoolongfault=Employee number is too long.

agent.customString16=Cost center number
agent.customString16.fieldtoolongfault=Cost center number is too long.

agent.customString32=ESM User Level

agent.customDate1=Created in AD
agent.customDate2=Updated in AD

role.customString1=Owner
role.customString1.fieldtoolongfault=Owner is too long.

role.customString2=E-mail address
role.customString2.fieldtoolongfault=E-mail address is too long.

role.customString4=E-mail username
role.customString4.fieldtoolongfault=E-mail username is too long.

igm.version=Efecte Cloud
index.jsp.title=Efecte Cloud
info.serviceid=Efecte Cloud ID
navi.title=Efecte Cloud
message.welcome=Welcome to Efecte Cloud administrative user interface
wizard.servicename=Efecte Cloud Wizard

work.info.title=Work information
contact.info.title=Contact information

role.customString5=Role DN
role.customString16=ESM User Level

invalid.esm.user.level=Invalid ESM User Level. Must be one of Root, Normal, ReadOnly, NoAccess

messages.provisioning.error.subject=Efecte Identity Management Provisioning error: {{ tenantPath }} on {{ ansible_fqdn }}
