{% if envVar != "prod" %}
rule.1.enabled=true
rule.1.match.domain=*
rule.1.domain.replace=efecte.com
rule.1.domain.prefix=your.address.here
rule.1.action=dontsend
{% else %}
rule.1.enabled=true
rule.1.match.domain=*
rule.1.domain.replace=efecte.com
rule.1.domain.prefix=your.address.here
rule.1.action=dontsend
{% endif %}
