<?xml version="1.0" encoding="UTF-8"?>
<!--

 This file is part of Efecte EDGE baseline configuration

 Purpose: AD Groups configuration for importing groups to EIM as roles.

 Configuration file for groups define from which OU’s and Directory Servers do we import groups from.
 Each /LDAP_CONFIG/LDAP_ENTRY element in this file represents one import configuration.
 There can be as many configuration elements as there is need for importing groups from AD / LDAP.

 Some fields have defaults set by the process, but the field must still be present.

 E1_LDAP_PID          = Identifier for a specific group import configuration. MUST be unique in scope of this file!
 E1_LDAP_HOST         = Host name or IP address for the AD / LDAP.
 E1_LDAP_PORT         = LDAP server port. Usually 636.
 E1_LDAP_USER         = Username used for binding to the LDAP server.
 E1_LDAP_PASSWORD     = Password for the E1_LDAP_USER. Can be encrypted with EIM encryption utility.
 E1_LDAP_GROUP_BASE   = LDAP base dn where we search for groups.
 E1_LDAP_GROUP_FILTER = LDAP filter to use in the search. Note! If filter contains a | -character,
                        the whole filter MUST be enclosed in double quotes, eg. "(&(objectclass=group)(|(name=*)(description=*)))"
 E1_ROLE_TYPE         = The role type in EIM for the imported group. Default = AD group
 E1_ROLE_SERVICE      = The name of a service in EIM to which the role should initially be linked to. Default = AD groups
 E1_LDAP_ID           = Identifier grouping multiple configurations. SHOULD be same for each individual E1_LDAP_HOST configured in this file.
                        For different E1_LDAP_HOST values, used different E1_LDAP_ID. Also, the value should match the in the user
                        configuration for the same LDAP in order for group memberships to be mapped as EIM permissions to users.
 E1_ITSM_FOLDER_CODE  = Value sets the folderCode request parameter in the ITSM API request. Defaults to "active_directory_groups"

-->

<LDAP_CONFIG>
    <LDAP_ENTRY>
        <E1_LDAP_PID>1</E1_LDAP_PID>
        <E1_LDAP_HOST>{{ ldapHost }}</E1_LDAP_HOST>
        <E1_LDAP_PORT>{{ ldapPort }}</E1_LDAP_PORT>
        <E1_LDAP_USER>{{ ldapUser }}</E1_LDAP_USER>
        <E1_LDAP_PASSWORD>{{ ldapPassword }}</E1_LDAP_PASSWORD>
        <E1_LDAP_GROUP_BASE>OU=Placeholder,{{ ldapBase }}</E1_LDAP_GROUP_BASE>
        <E1_LDAP_GROUP_FILTER>(&amp;(objectClass=group))</E1_LDAP_GROUP_FILTER>
        <E1_ROLE_TYPE>AD group</E1_ROLE_TYPE>
        <E1_ROLE_SERVICE>AD groups</E1_ROLE_SERVICE>
        <E1_LDAP_ID>1</E1_LDAP_ID>
        <E1_ITSM_FOLDER_CODE>active_directory_groups</E1_ITSM_FOLDER_CODE>
    </LDAP_ENTRY>
</LDAP_CONFIG>
