<?xml version="1.0" encoding="UTF-8"?>
<!--

 This file is part of Efecte EDGE baseline configuration

 Purpose: AD User configuration for importing users to EIM.

 Configuration file for users define from which OU’s and Directory Servers do we import users from.
 Each /LDAP_CONFIG/LDAP_ENTRY element in this file represents one import configuration.
 There can be as many configuration elements as there is need for importing users from AD / LDAP.

 Some fields have defaults set by the process.

 E1_LDAP_PID                   = Identifier for a specific group import configuration. MUST be unique in scope of this file!
 E1_LDAP_HOST                  = Host name or IP address for the AD / LDAP.
 E1_LDAP_PORT                  = LDAP server port. Usually 636.
 E1_LDAP_USER                  = Username used for binding to the LDAP server.
 E1_LDAP_PASSWORD              = Password for the E1_LDAP_USER. Can be encrypted with EIM encryption utility.
 E1_LDAP_ROOTDSE               = Root DSE for the LDAP server. Used to resolve group memberships via nested groups.
 E1_LDAP_USER_BASE             = LDAP base dn where we search for users.
 E1_LDAP_USER_FILTER           = LDAP filter to use in the search. Note! If filter contains a | -character,
                                 the whole filter MUST be enclosed in double quotes, eg. "(|(objectclass=user)(objectclass=person))"
 E1_SERVICE_AGREEMENT          = The service agreement in EIM to create the users in.
 E1_ACCOUNT_TYPE               = Account type for user accounts created by this import configuration. Default = AD.
 E1_AUTH_METHOD                = Authentication method for accounts created by this configuration. Default = AD Password.
 E1_LDAP_ID                    = Identifier grouping multiple configurations. SHOULD be same for each individual E1_LDAP_HOST configured in this file.
                                 For different E1_LDAP_HOST values, used different E1_LDAP_ID
 E1_LDAP_RESOLVE_NESTED_GROUPS = Set to true,TRUE or 1 to resolve user group memberships via nested groups
 E1_ITSM_FOLDER_CODE           = Value sets the folderCode request parameter in the ITSM API request. Defaults to "personnel"
 E1_SAMACCOUNTNAME_OVER_UPN    = A boolean value if sAMAccountName should be used over UserPrincipalName as an account's username in EIM

-->

<LDAP_CONFIG>
    <LDAP_ENTRY>
        <E1_LDAP_PID>1</E1_LDAP_PID>
        <E1_LDAP_HOST>{{ ldapHost }}</E1_LDAP_HOST>
        <E1_LDAP_PORT>{{ ldapPort }}</E1_LDAP_PORT>
        <E1_LDAP_USER>{{ ldapUser }}</E1_LDAP_USER>
        <E1_LDAP_PASSWORD>{{ ldapPassword }}</E1_LDAP_PASSWORD>
        <E1_LDAP_ROOTDSE>{{ ldapBase }}</E1_LDAP_ROOTDSE>
        <E1_LDAP_USER_BASE>OU=Placeholder,{{ ldapBase }}</E1_LDAP_USER_BASE>
        <E1_LDAP_USER_FILTER>(&amp;(objectCategory=person)(objectClass=user))</E1_LDAP_USER_FILTER>
        <E1_SERVICE_AGREEMENT>Customer - AD users</E1_SERVICE_AGREEMENT>
        <E1_ACCOUNT_TYPE>AD</E1_ACCOUNT_TYPE>
        <E1_AUTH_METHOD>AD Password</E1_AUTH_METHOD>
        <E1_LDAP_ID>1</E1_LDAP_ID>
        <E1_RESOLVE_NESTED_GROUPS>false</E1_RESOLVE_NESTED_GROUPS>
        <E1_ITSM_FOLDER_CODE>personnel</E1_ITSM_FOLDER_CODE>
        <E1_SAMACCOUNTNAME_OVER_UPN>false</E1_SAMACCOUNTNAME_OVER_UPN>
    </LDAP_ENTRY>
</LDAP_CONFIG>
